*{
    font-family: Garamond;
}

#logo{
    background-color: Olive;
    width: 25%;
    height: 110px;
}

#menu{
    background-color: Olive;
    width: 75%;
    height: 110px;
}

#baner, #stopka{
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 30px;
}

#lewy, #prawy{
    background-color: wheat;
    width: 50%;
    height: 450px;
    font-size: 150%;
}

#lewy{
    text-align: center;
}

h1{
    letter-spacing: 12px;
}

a{
    color: lightgray;
    margin: 30px;
    font-size: 150%;
    line-height: 110px;
    text-decoration: none;
}

a:hover{
    color: white;
    border-bottom: 1px solid white;
}

#trzeci{
    text-decoration:line-through;
}


body{
    margin: 0;
}
#gora{
    display: flex;
}

#nizej{
    display: flex;
}

